/* Gestion de l'affichage des modals quand elle ne s'ont pas ouverte */
.modal{
    display: none;
}

.modal-choice{
    display: none;
}


/* Gestion des transitions des modals */
.form-group {
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.form-group.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.form-group.previous {
    opacity: 0;
    transform: translateX(-20%);
}

.form-group.next {
    opacity: 0;
    transform: translateX(20%);
}


.form-group_modify {
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.form-group_modify.active_modify {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    z-index: 2;
}
.form-group_modify.previous_modify {
    opacity: 0;
    transform: translateX(-20%);
    z-index: 1;
}
.form-group_modify.next_modify {
    opacity: 0;
    transform: translateX(20%);
    z-index: 1;
}


.loader-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #FFFFFF 50%, #112D4E 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}