/* Gestion de l'affichage des modals quand elle ne s'ont pas ouverte */
.modal{
    display: none;
}

.modal-choice{
    display: none;
}

/* Gestion des transitions des modals */
.form-group {
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.form-group.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.form-group.previous {
    opacity: 0;
    transform: translateX(-20%);
}

.form-group.next {
    opacity: 0;
    transform: translateX(20%);
}