/* Gestion de l'affichage des modals quand elle ne s'ont pas ouverte */
.modal{
    display: none;
}

.modal-choice{
    display: none;
}

/* Gestion des transitions des modals */
.modal-content {
    position: relative;
    overflow: hidden;
}

.form-group {
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.form-group.active {
    transform: translateX(0);
    opacity: 1;
}

.form-group.previous {
    transform: translateX(-100%);
    opacity: 0;
}

.form-group.next {
    transform: translateX(100%);
    opacity: 0;
}
